[package]
name = "dantalian"
version = "0.1.0"
authors = ["Nanozuki Crows <nanozuki.crows@gmail.com>"]
edition = "2018"
description = "A nfo file generator for your anime. Source from https://bangumi.tv/."
license = "GPL-3.0-or-later"
repository = "https://github.com/nanozuki/dantalian/"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "~3.0.0-beta.2"
serde = { version = "1.0.118", features = ["derive", "rc"] }
serde_json = "1"
serde_repr = "0.1"
hyper = { version = "0.14", features = ["http1", "http2", "client", "runtime"] }
tokio = { version = "1", features = ["full"] }
anyhow = "1.0"
futures = "0.3"
percent-encoding = "~2"
hyper-tls = "0.5"
tinytemplate = "1.1"
